@charset "utf-8";
/* CSS Document */


#contenido { width:100%; float:left}
#texto { width:60%; height:95%; text-align:justify; float:left}
#imagen { width:35%; height:95%; float:right; alignment-adjust:central}
#foto {width:100%; height:100%; alignment-adjust:central;}
#enlace {width:100%; height:5%; float:left}
#fotoele{ alignment-adjust:central; width:50%; height:}